@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

::selection {
  background-color: #74c313; /* Cor de fundo quando o texto é selecionado */
  color: #252525; /* Cor do texto selecionado */
}

.element-color-1 {
  fill: var(--primaryButton);
}
.element-color-2 {
  fill: var(--bgAlt);
}
.element-color-3 {
  fill: var(--text);
}
.element-color-4 {
  fill: var(--accent);
}
.element-color-5 {
  fill: var(--secondaryButton);
}

:root {
  --bg: #fff;
  --bgAlt: #252525;
  --primaryButton: #74c313;
  --secondaryButton: #07010e;
  --extra: #253514;
  --accent: #4D7C14;
  --text: #000;
}

.remove-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.remove-scrollbar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.input-shadow {
  box-shadow: -2px 0 0 0 rgba(116, 195, 19, 0.7) ;
}

.flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

@layer components {
  .navbar-li {
    @apply border-transparent text-lg tracking-wider;
  }

  .section-spacing {
    @apply pb-12 px-8 md:px-12 lg:px-16 xl:px-24 2xl:px-64;
  }

  .button-hover {
    @apply rounded text-mainPalette-bg lg:hover:-translate-y-[3px] lg:hover:shadow-md lg:hover:shadow-mainPalette-bgAlt transition-all;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 m-2 lg:hover:bg-mainPalette-primaryButton bg-mainPalette-bgAlt rounded-3xl lg:hover:rounded-xl lg:hover:text-mainPalette-extra transition-all text-mainPalette-text ease-linear
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-mainPalette-text bg-gray-900 border-2 border-mainPalette-primaryButton text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .highlight {
    @apply text-mainPalette-accent uppercase;
  }

  .contact-input-container {
    @apply flex flex-col w-full gap-2;
  }
  
}

@layer utilities {
  .clip-inset {
    clip-path: inset(7px);
  }
  .clip-hover {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
    transition: -webkit-clip-path .5s cubic-bezier(.29,.51,.27,.96);
    transition: clip-path .5s cubic-bezier(.29,.51,.27,.96);
    transition: clip-path .5s cubic-bezier(.29,.51,.27,.96),-webkit-clip-path .5s cubic-bezier(.29,.51,.27,.96);
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: transparent;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}

/* Hero Animations */

.trace-1{
  width: 160px;
  height: 3px;
  background-image: linear-gradient(to right, transparent, rgba(116, 195, 19, 0.7));
  position: absolute;
  top: 20%;
  animation: crossing-1 8s infinite ease-in;
}

@keyframes crossing-1 {
  0% {left: -150%;}
  100% {left: 250%;}
}


.trace-2{
  width: 3px;
  height: 160px;
  background-image: linear-gradient(to bottom, transparent, rgba(116, 195, 19, 0.7));
  position: absolute;
  left: 66%;
  animation: crossing-2 12s infinite ease-in-out;
}

@keyframes crossing-2 {
  from {top: -150%;}
  to {top: 250%;}
}


.trace-3{
  width: 3px;
  height: 160px;
  background-image: linear-gradient(to top, transparent, rgba(116, 195, 19, 0.7));
  position: absolute;
  left: 20%;
  animation: crossing-3 15s infinite ease-in-out;
}

@keyframes crossing-3 {
  from {top: 250%;}
  to {top: -250%;}
}


.trace-4{
  width: 160px;
  height: 3px;
  background-image: linear-gradient(to left, transparent, rgba(116, 195, 19, 0.7));
  position: absolute;
  top: 85%;
  animation: crossing-4 12s infinite ease-in-out;
}

@keyframes crossing-4 {
  from {right: -150%;}
  to {right: 250%;}
}


.trace-5{
  width: 160px;
  height: 3px;
  background-image: linear-gradient(to right, transparent, rgba(116, 195, 19, 0.7));
  position: absolute;
  top: 25%;
  animation: crossing-4 18s infinite ease-in-out;
}

@keyframes crossing-4 {
  from {right: -250%;}
  to {right: 250%;}
}