@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::selection {
  background-color: #74c313; /* Cor de fundo quando o texto é selecionado */
  color: #252525; /* Cor do texto selecionado */
}

html {
  accent-color: var(--accent);
}

:root {
  --bg: #050a0f;
  --bgAlt: #2C2C2C;
  --primaryButton: #274e2e;
  --secondaryButton: #e0f0e3;
  --extra: #192A22;
  --accent: #305f38;
  --text: #f3edfd;
}

.remove-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.remove-scrollbar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.input-shadow {
  box-shadow: -2px 0 0 0 rgba(116, 195, 19, 0.7) ;
}

.flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

@layer components {
  .navbar-li {
    @apply border-transparent text-lg tracking-wider;
  }

  .button-hover {
    @apply rounded text-mainPalette-bg hover:bg-mainPalette-accent transition-all;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 m-2 hover:bg-mainPalette-primaryButton bg-mainPalette-bgAlt rounded-3xl hover:rounded-xl hover:text-mainPalette-extra transition-all text-mainPalette-text ease-linear
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-mainPalette-text bg-gray-900 border-2 border-mainPalette-primaryButton text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .highlight {
    @apply text-mainPalette-accent uppercase;
  }

  .contact-input-container {
    @apply flex flex-col w-full gap-2;
  }
  
}

@layer utilities {
  .clip-inset {
    clip-path: inset(7px);
  }
  .clip-hover {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
    transition: -webkit-clip-path .5s cubic-bezier(.29,.51,.27,.96);
    transition: clip-path .5s cubic-bezier(.29,.51,.27,.96);
    transition: clip-path .5s cubic-bezier(.29,.51,.27,.96),-webkit-clip-path .5s cubic-bezier(.29,.51,.27,.96);
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: transparent;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}